<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../estilos/stylePortFolio.css">

</head>

<body>
    <header class="cabecera">

        <nav class="menu-nav">
            <h1>PortFolio</h1>

            <div class="links-navbar" id="links-navbar">
                <a href="../index.html">Inicio</a>
                <a href="#presentacion">Presentacion</a>
                <a href="#proyectos">Proyectos</a>
                <a href="#empresas">Empresas</a>
            </div>
            <button class="btn-cambiar-tema" id="cambiar-tema">
                <img class="icono" src="../assets/IMGportfolio/sol.svg" id="icono-light"
                    alt="icono para cambio de tema">
                <img class="icono" src="../assets/IMGportfolio/luna.svg" id="icono-dark" alt="icono para cambo de tema">
            </button>
        </nav>

    </header>

    <main>

        <section class="section" id="presentacion">

            <h2 class="titulo">Presentacion</h2>
            <div class="presentacion-container" id="presentacion-container">
                <img class="img-circular" src="../assets/IMGportfolio/presentacion.jpg" alt="foto logo transpucor">
                <h3 class="titulo2">TRANSPUCOR</h3>
                <p>Empresa dedicada al Transporte de publicidad, buzoneo, carteleria y exponer al mayor numero de
                    personas informacion relativa a negocios y entretenimiento. Somos lideres por nuestra transparencia
                    y nuestro trabajo realizado perfectamente a las fechas indicadas por nuestros proveedores.
                </p>
                <div class="iconos">

                    <a
                        href="https://www.facebook.com/p/Transpucor-Transportes-y-Publicidad-de-C%C3%B3rdoba-100047210667150/?locale=es_ES&_rdr">
                        <img class="icono" src="../assets/IMGportfolio/facebook-svgrepo-com.svg" alt="icono facebook"
                            height="60" width="60">
                    </a>

                    <a href="../views/contacto.html">
                        <img class="icono" src="../assets/IMGportfolio/social-contact-svgrepo-com.svg"
                            alt=" contacta con transpucor" height="60" width="60">
                    </a>

                    <a href="../assets/IMGportfolio/ofertatranspucor.jpg">
                        <img class="icono" src="../assets/IMGportfolio/offer-svgrepo-com.svg" alt="oferta transpucor"
                            height="60" width="60">
                    </a>

                </div>
            </div>
        </section>

        <section class="section" id="proyectos">
            <h2 class="titulo">Proyectos</h2>

            <div class="grid-2">

                <div class="proyectos-container" id="proyecto1"
                    style="background-image: url(../assets/IMGportfolio/PROYECTOS/proyectos1.jpg);">
                    <div class="descripcion">
                        <h3>NOMBRE DEL PROYECTO</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Aliquam ipsum quo iure impedit quis repellendus minus labore
                            maiores, cumque sunt temporibus placeat odit quam. Quae dolores ad molestias
                            autem repellendus!</p>
                    </div>
                </div>

                <div class="proyectos-container"
                    style="background-image: url(../assets/IMGportfolio/PROYECTOS/proyectos3.jpg);">
                    <div class="descripcion">
                        <h3>NOMBRE DEL PROYECTO</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Aliquam ipsum quo iure impedit quis repellendus minus labore
                            maiores, cumque sunt temporibus placeat odit quam. Quae dolores ad molestias
                            autem repellendus!</p>
                    </div>
                </div>

                <div class="proyectos-container"
                    style="background-image: url(../assets/IMGportfolio/PROYECTOS/proyectos4.jpg);">
                    <div class="descripcion">
                        <h3>NOMBRE DEL PROYECTO</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Aliquam ipsum quo iure impedit quis repellendus minus labore
                            maiores, cumque sunt temporibus placeat odit quam. Quae dolores ad molestias
                            autem repellendus!</p>
                    </div>
                </div>

                <div class="proyectos-container"
                    style="background-image: url(../assets/IMGportfolio/PROYECTOS/proyectos4.jpg);">
                    <div class="descripcion">
                        <h3>NOMBRE DEL PROYECTO</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Aliquam ipsum quo iure impedit quis repellendus minus labore
                            maiores, cumque sunt temporibus placeat odit quam. Quae dolores ad molestias
                            autem repellendus!</p>
                    </div>
                </div>

            </div>


        </section>
        <section class="section" id="empresas">

            <h2 class="titulo">Empresas Colaboradoras</h2>
            <p>Todo lo que realizamos en esta empresa y a los que tenemos que agradecer su confianza, sin vosotros no
                seria posible. ¿Quieres formar parte de nuestros mas preciados clientes?. Ponte en contacto con nosotros
                no esperes mas.</p>

            <div class="empresas-container">

                <a href="https://www.lidl.es/?utm_source=google&utm_medium=cpc&utm_campaign=brd-sea_pure_base-all_notset_ao_shop_nf_sl_ao_es.p-google.lidl-es-exact&utm_content=72158422753&utm_term=lidl&cid=1936011013&gad_source=1&gclid=CjwKCAiA5eC9BhAuEiwA3CKwQsmzGyFfAZlKUkvt8jmLZCSdSiz78u1aBOvUZl6ZRsrMwuKitskG5hoCbLcQAvD_BwE"
                    target="_blank" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/LIDEL(1).png"
                        alt="Imagen Lidel"></a>
                <a href="https://www.conforama.es/sin-iva?utm_source=google&utm_medium=cpc&utm_campaign=ES_ESP_S_BRAND_PURE_Exacta_CONFORAMA&gad_source=1&gclid=CjwKCAiA5eC9BhAuEiwA3CKwQgEO2bTCTRdm3BEmu0peXzkxxOJS6z0MsBj-a0fDl28TZ_AsEnw8GBoCBEcQAvD_BwE"
                    target="_blank" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/conforama.png"
                        alt="Imagen Conforama"></a>
                <a href="https://www.elcorteingles.es/" target="_blank" class="colaboradores"><img
                        src="../assets/IMGportfolio/PROYECTOS/corte.jpg" alt="Imagen CorteIngles"></a>
                <a href="https://www.obramat.es/?srsltid=AfmBOoqlwZNdfZjF1jYAcCji4fPlDHrxiZOWFKbikb3_THY8P8VkutaT"
                    target="_blank" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/obramat.png"
                        alt="Imagen Obramat"></a>
                <a href="https://oferta.vodafone.es/vodafone-one/?cid=1725849099:dt-20190301:cp-vdf_tol_continuidad:cn-sem:kw-13038396:cc-:cl-no_cliente:sp-Google:cr-:gk-marca:st-prospecting:ta-base:md-marca:ds-responsive:pr-blended:wn-tol:pl-/VDF-TOL-BrandPura-Def-BASEPC&gad_source=1&gclid=CjwKCAjwwLO_BhB2EiwAx2e-33pnsu2CM_wmLG1r3f0xNyfev0ckTXl2JhIDDi_Nob8lLq2oT1aPihoCg60QAvD_BwE"
                    target="_blank" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/vodafone.png"
                        alt="Imagen vodafone"></a>
                <a href="https://www.oportunissimo.com/es/" target="_blank" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/oportunisimo.png"
                        alt="Imagen oportunisimo"></a>
                <a href="" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/cash-converters.jpg"
                        alt="Imagen Lidel"></a>
                <a href="" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/orocash.jpg"
                        alt="Imagen Lidel"></a>
                <a href="" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/diodox.jpg"
                        alt="Imagen Lidel"></a>
                <a href="" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/cash-converters.jpg"
                        alt="Imagen Lidel"></a>
                <a href="" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/orocash.jpg"
                        alt="Imagen Lidel"></a>
                <a href="" class="colaboradores"><img src="../assets/IMGportfolio/PROYECTOS/diodox.jpg"
                        alt="Imagen Lidel"></a>

            </div>
        </section>

    </main>

    <script src="../scripts/portfolio.js"></script>

</body>

</html>