<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANSPUCOR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilos/stylePrivacidad.css">
</head>

<body>

    <!--MENU DE NAVEGACION-->
  
    <nav class="bordebot navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><span class="text-white">TRANSPUCOR</span><img class="ms-2 logonavegacion"
              src="../assets/imagenes/LOGONUEVO.png" alt=""></a>
          <button class="navbar-toggler bg-white text-danger" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="../index.html">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" href="../views/galeria.html">Galeria y Repartos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" href="../views/portfolio.html">PortFolio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active text-white" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Contacto y Presupuesto
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../views/contacto.html">Contacto</a></li>
                  <li><a class="dropdown-item" href="../views/presupuesto.html">Presupuesto</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="../views/privacidad.html">Politica y Privacidad</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit">Buscar</button>
            </form>
          </div>
        </div>
    </nav>

    <!--POLITICA DE PRIVACIDAD-->
    <h2 class="text-center mt-4 text-white">Política de privacidad <img src="../assets/imagenes/LOGONUEVO.png" alt=""></h2>
    <hr class="border opacity-100 border-danger">
    <p class="ms-3 text-white"><span class="text-danger">TRANSPUCOR SL</span> pone a su disposición a través de la página web www.Transpucor.es la presente política de
    privacidad con la finalidad de informarle, de forma detallada, sobre cómo tratamos sus datos personales y protegemos
    su privacidad y la información que nos proporciona. En caso de introducir modificaciones en un futuro sobre la misma
    se lo comunicaremos a través de la página web o a través de otros medios de modo que pueda conocer las nuevas
    condiciones de privacidad introducidas.</p>
        
    <p class="ms-3 text-white">En cumplimiento del Reglamento (UE) 2016/679, General de Protección de Datos y de la Ley Orgánica 3/2018, de 5 de
    diciembre, de Protección de Datos Personales y garantía de los derechos digitales le informamos de lo siguiente:</p>

    <p class="ms-3 text-white">Responsable del Tratamiento:</p>

    <p class="ms-3 text-white">Titular: <span class="text-danger">TRANSPUCOR SL</span></p>

    <p class="ms-3 text-white">NIF: B56029531</p>

    <p class="ms-3 text-white">Domicilio social: Calle Bernabé de los Reyes, 2 Local 2 – 14006 de Córdoba</p>

    <p class="ms-3 text-white">Teléfono: 957326900</p>

    <p class="ms-3 text-white">Correo electrónico: admin@Transpucor.es Página web: www.porfinlunes.es</p>

    <p class="ms-3 text-white"><span class="text-danger">¿Con qué finalidad tratamos sus datos personales?</span></p>

    <p class="ms-3 text-white">Recabamos y tratamos su información personal con carácter general para gestionar la relación que mantenemos con Ud.
    siendo las principales finalidades que tenemos identificadas las siguientes:</p>

    <p class="ms-3 text-white">Gestión y contratación de los productos y servicios ofrecidos por nuestra empresa
    Canalizar las solicitudes de información, sugerencias y reclamaciones que nos pueda hacer llegar
    Mantenerle informado sobre eventos, ofertas, productos y servicios que puedan resultar de su interés a través de
    distintos canales de comunicación siempre y cuando Ud. haya prestado su consentimiento. <br>
    Gestión de la relación laboral, en el caso de nuestros empleados. <br>
    Gestión de la relación comercial mantenida con nuestros proveedores <br>
    Gestión de la selección de personal <br><br>
    <span class="text-danger">¿Cómo recabamos su información?</span></p>

    <p class="ms-3 text-white">Recabamos su información personal a través de diferentes medios, pero siempre será informado en el momento de la
    recogida mediante cláusulas informativas sobre el responsable del tratamiento, la finalidad y la base legal del
    mismo, los destinatarios de los datos y el periodo de conservación de su información, así como la forma en que puede
    ejercer los derechos que le asisten en materia de protección de datos.</p>

    <p class="ms-3 text-white">En general, la información personal que tratamos se limita a datos identificativos (nombre y apellidos, fecha de
    nacimiento, domicilio, DNI, teléfono y correo electrónico), servicios contratados y datos de pago y facturación.</p>

    <p class="ms-3 text-white">Obtenemos los datos de nuestros potenciales clientes/usuarios relativos a datos de identificación (nombre,
    apellidos, NIF, dirección postal, teléfono, email), profesionales (cargo, lugar de trabajo, sector de actividad)
    directamente de los mismos al solicitarnos presupuestos o información sobre nuestros servicios.</p>

    <p class="ms-3 text-white">En los casos de gestión y selección de personal recogemos los datos académicos y profesionales para poder atender a
    las obligaciones derivadas del mantenimiento de la relación laboral o en su caso, entrar a formar parte de nuestra
    plantilla.</p>

    <p class="ms-3 text-white">Utilizamos redes sociales y esta es otra forma de llegar a usted. La información recogida a través de los mensajes y
    comunicaciones que publica puede contener información personal que se encuentra disponible online y accesible al
    público. Estas redes sociales cuentan con sus propias políticas de privacidad donde se explica cómo utilizan y
    comparten su información, por lo que recomendamos que las consulte antes de hacer uso de estas para confirmar que
    está de acuerdo con la forma en que su información es recogida, tratada y compartida.</p>

    <p class="ms-3 text-white">A través de nuestra página web recabamos información personal relacionada con su navegación a través del uso de
    cookies. Para conocer de manera clara y precisa las cookies que utilizamos, cuáles son sus finalidades y cómo puede
    configurarlas o deshabilitarlas, consulte nuestra Política de Cookies.</p>

    <p class="ms-3 text-white">Responsabilidad del usuario</p>

    <p class="ms-3 text-white">Al facilitarnos sus datos a través de canales electrónicos, el usuario garantiza que es mayor de 14 años y que los
    datos facilitados son verdaderos, exactos, completos y actualizados. A estos efectos, el usuario confirma que
    responde de la veracidad de los datos comunicados y que mantendrá convenientemente actualizada dicha información de
    modo que responda a su situación real, haciéndose responsable de los datos falsos e inexactos que pudiera
    proporcionar, así como de los daños y perjuicios, directos o indirectos, que pudieran derivarse.</p>

    <p class="ms-3 text-white"><span class="text-danger">¿Cuánto conservamos su información?</span></p>

    <p class="ms-3 text-white">Sólo conservamos su información por el periodo de tiempo necesario para cumplir con la finalidad para la que fue
    recogida, dar cumplimiento a las obligaciones legales que nos vienen impuestas y atender las posibles
    responsabilidades que pudieran derivar del cumplimiento de la finalidad por la que los datos fueron recabados.</p>

    <p class="ms-3 text-white">En el caso de que quiera entrar a formar parte de nuestra plantilla y opte a uno de nuestros puestos de trabajo, los
    datos proporcionados pasarán a formar parte de nuestra bolsa de empleo y se conservarán mientras dure el proceso
    selectivo y por un máximo de dos años o hasta que Ud. ejerza su derecho de supresión.</p>

    <p class="ms-3 text-white">Si en algún momento hemos recogido sus datos para dirigirnos a usted como potencial usuario de nuestros servicios o
    dar respuesta a una solicitud de información realizada por su parte, dichos datos serán conservados por un máximo de
    dos años desde su recogida, pasando a eliminarse transcurrido dicho plazo si no se ha formalizado una relación
    contractual o en el momento en que así nos lo solicite.</p>

    <p class="ms-3 text-white">En todo caso, y por regla general, mantendremos su información personal mientras exista una relación contractual que
    nos vincule o usted no ejerza su derecho de supresión y/o limitación del tratamiento, en cuyo caso, la información
    será bloqueada sin darle uso más allá de su conservación, mientras pueda ser necesaria para el ejercicio o defensa
    de reclamaciones o pudiera derivarse algún tipo de responsabilidad que tuviera que ser atendida.</p>

    <p class="ms-3 text-white"><span class="text-danger">¿A quién comunicamos sus datos?</span></p>

    <p class="ms-3 text-white">En general, no compartimos su información personal, salvo aquellas cesiones que debemos realizar en base a
    obligaciones legales impuestas.</p>

    <p class="ms-3 text-white">Aunque no se trata de una cesión de datos, para prestarle el servicio solicitado puede ser que terceras empresas,
    que actúan como proveedores nuestros, accedan a su información para llevar a cabo el servicio que les hemos
    contratado. Estos encargados acceden a sus datos siguiendo nuestras instrucciones y sin que puedan utilizarlos para
    una finalidad diferente y manteniendo la más estricta confidencialidad.</p>

    <p class="ms-3 text-white">En caso de que resulte necesario derivado de un incidente registrado por nuestras cámaras de seguridad, sus imágenes
    podrían ser comunicadas a las Fuerzas y Cuerpos de Seguridad del Estado, en virtud de lo establecido en la Ley.</p>

    <p class="ms-3 text-white">Asimismo, su información personal estará a disposición de las Administraciones Públicas, Jueces y Tribunales, para
    la atención de posibles responsabilidades nacidas del tratamiento.</p>

    <p class="ms-3 text-white">Transferencias internacionales de datos</p>

    <p class="ms-3 text-white">No existen transferencias internacionales de sus datos a países fuera del Espacio Económico Europeo (EEE).</p>

    <p class="ms-3 text-white">Con nuestros proveedores hemos acordado que, para la prestación del servicio contratado, hagan uso de servidores
    ubicados en el EEE y si, en un futuro, necesitásemos hacer uso de servidores localizados fuera del territorio de la
    UE, se adoptarán las medidas adecuadas, que serán incorporadas a esta Política de Privacidad, garantizando que
    dichos proveedores se hallan bajo el acuerdo de Privacy Shield o que existen otras garantías adecuadas.</p>

    <p class="ms-3 text-white"><span class="text-danger">¿Cuáles son sus derechos con relación al tratamiento de sus datos y cómo puede ejercerlos?</span></p>

    <p class="ms-3 text-white">La normativa en materia de protección de datos permite que pueda ejercer sus derechos de acceso, rectificación,
    supresión y portabilidad de datos y oposición y limitación a su tratamiento, así como a no ser objeto de decisiones
    basadas únicamente en el tratamiento automatizado de sus datos, cuando proceda.</p>

    <p class="ms-3 text-white">Estos derechos se caracterizan por lo siguiente:</p>

    <p class="ms-3 text-white">Su ejercicio es gratuito, salvo que se trate de solicitudes manifiestamente infundadas o excesivas (p. ej., carácter
    repetitivo), en cuyo caso podremos cobrar un canon proporcional a los costes administrativos soportados o negarse a
    actuar <br>
    Puede ejercer los derechos directamente o por medio de tu representante legal o voluntario
    Debemos responder a su solicitud en el plazo de un mes, aunque, si se tiene en cuenta la complejidad y número de
    solicitudes, se puede prorrogar el plazo en otros dos meses más. <br><br>
    Tenemos la obligación de informarle sobre los medios para ejercitar estos derechos, los cuales deben ser accesibles
    y sin poder denegarle el ejercicio del derecho por el solo motivo de optar por otro medio. Si la solicitud se
    presenta por medios electrónicos, la información se facilitará por estos medios cuando sea posible, salvo que nos
    solicite que sea de otro modo. <br><br>
    Si no damos curso a la solicitud, le informará, a más tardar en un mes, de las razones de su no actuación y la
    posibilidad de reclamar ante una Autoridad de Control
    A fin de facilitar su ejercicio, le facilitamos los enlaces al formulario de solicitud de cada uno de los derechos:</p>

    <p class="ms-3 text-white">Formulario ejercicio del derecho de acceso</p>

    <p class="ms-3 text-white">Formulario de ejercicio del derecho de rectificación</p>

    <p class="ms-3 text-white">Formulario de ejercicio del derecho de oposición</p>

    <p class="ms-3 text-white">Formulario de ejercicio del derecho de supresión (derecho “al olvido”)</p>

    <p class="ms-3 text-white">Formulario de ejercicio del derecho a la limitación del tratamiento</p>

    <p class="ms-3 text-white">Formulario de ejercicios del derecho a la portabilidad</p>

    <p class="ms-3 text-white">Formulario de ejercicio a no ser objeto de decisiones individuales automatizadas</p>

    <p class="ms-3 text-white">Para ejercer sus derechos ponemos a su disposición los siguientes medios:</p>

    <p class="ms-3 text-white"><span class="text-danger">1.</span> Mediante solicitud escrita y firmada dirigida a la empresa, Ref. Ejercicio de Derechos LOPD.

    <p class="ms-3 text-white"><span class="text-danger">2.</span> Enviando formulario escaneado y firmado a la dirección de correo electrónico que aparece más arriba indicando en
    el asunto Ejercicio de Derechos LOPD.</p>

    <p class="ms-3 text-white">En ambos casos, deberá acreditar su identidad acompañando fotocopia o en su caso, copia escaneada, de su DNI o
    documento equivalente para poder verificar que sólo damos respuesta al interesado o su representante legal, debiendo
    aportar en este caso documento acreditativo de la representación.</p>

    <p class="ms-3 text-white">Asimismo, y especialmente si considera que no ha obtenido satisfacción plena en el ejercicio de sus derechos, le
    informamos que podrá presentar una reclamación ante la autoridad nacional de control dirigiéndose a estos efectos a
    la Agencia Española de Protección de Datos, C/ Jorge Juan, 6 – 28001 Madrid.</p>

    <p class="ms-3 text-white"><span class="text-danger">¿Cómo protegemos su información?</span></p>

    <p class="ms-3 text-white">Nos comprometemos a proteger su información personal.</p>

    <p class="ms-3 text-white">Utilizamos medidas, controles y procedimientos de carácter físico, organizativo y tecnológico, razonablemente
    fiables y efectivos, orientados a preservar la integridad y la seguridad de sus datos y garantizar su privacidad.</p>

    <p class="ms-3 text-white">Además, todo el personal con acceso a los datos personales ha sido formado y tiene conocimiento de sus obligaciones
    con relación a los tratamientos de sus datos personales.</p>

    <p class="ms-3 text-white">En el caso de los contratos que suscribimos con nuestros proveedores incluimos cláusulas en las que se les exige
    mantener el deber de secreto respecto a los datos de carácter personal a los que hayan tenido acceso en virtud del
    encargo realizado, así como implantar las medidas de seguridad técnicas y organizativas necesarias para garantizar
    la confidencialidad, integridad, disponibilidad y resiliencia permanentes de los sistemas y servicios de tratamiento
    de los datos personales.</p>

    <p class="ms-3 text-white">Todas estas medidas de seguridad son revisadas de forma periódica para garantizar su adecuación y efectividad.</p>

    <p class="ms-3 text-white">Sin embargo, la seguridad absoluta no se puede garantizar y no existe ningún sistema de seguridad que sea
    impenetrable por lo que, en el caso de cualquier información objeto de tratamiento y bajo nuestro control se viese
    comprometida como consecuencia de una brecha de seguridad, tomaremos las medidas adecuadas para investigar el
    incidente, notificarlo a la Autoridad de Control y, en su caso, a aquellos usuarios que se hubieran podido ver
    afectados para que tomen las medidas adecuadas.</p>

    <!--FOOTER-->

    <div class="bordetop row bg-dark text-white mt-5">
        <div class="col-lg-3 mt-5 mb-5">
          <h1 class="ms-3"><img class="ms-2 logoFooter-IMG" src="../assets/imagenes/LOGOFOOTER.png" alt="logofooter"></h1>
        </div>
        <div class="col-lg-3 mt-4">
          <h3 class="ms-3 mb-3 fw-bold">LINKS</h3>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="../views/galeria.html">Galeria y Repartos</a></div>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="../views/portfolio.html">PortFolio</a></div>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="../views/presupuesto.html">Presupuesto</a></div>
        </div>
        <div class="col-lg-3 mt-4">
          <h3 class="ms-3 fw-bold">REDES</h3>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="https://www.facebook.com/people/Transpucor-Transportes-y-Publicidad-de-C%C3%B3rdoba/100047210667150/">Facebook</a></div>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="https://www.instagram.com/">Instagram</a></div>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="https://x.com/?lang=es">Twitter</a></div>
        </div>
        <div class="col-lg-3 mt-4">
          <h3 class="ms-3 fw-bold">CONTACTO Y PRIVACIDAD</h3>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="../views/contacto.html">Contacto</a></div>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="../views/privacidad.html">Privacidad</a></div>
          <div><a class="text-decoration-none text-secondary link-danger ms-5" href="../views/privacidad.html">Terminos y Condiciones</a></div>
        </div>
        <hr class="border border-danger mt-4 ms-1 opacity-100">
        <h2 class="text-danger text-center"> &copy; Derechos reservados Transpucor S.L</h2>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>